<div class="sidebar-content">
    <nav class="sidebar-nav">
        <ul class="nav flex-column">
            <li class="nav-item">
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                    <i class="bi bi-speedometer2"></i>
                    <span>Dashboard</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/alert" Match="NavLinkMatch.Prefix">
                    <i class="bi bi-graph-up"></i>
                    <span>Alerts</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/ticket" Match="NavLinkMatch.Prefix">
                    <i class="bi bi-graph-up"></i>
                    <span>Tickets</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link text-secondary" target="_blank" href="/#">
                    <i class="bi bi-box"></i>
                    <span>Theme Bootstrap</span>
                </NavLink>
            </li>
            
            <li class="nav-item">
                <NavLink class="nav-link text-secondary" target="_blank" href="/#">
                    <i class="bi bi-box"></i>
                    <span>Bootstrap + Blazor</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link text-secondary" target="_blank"
                         href="/#">
                    <i class="bi bi-bag-check"></i>
                    <span>Bootstrap 5</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link text-secondary" href="/swagger" target="_blank">
                    <i class="bi bi-graph-up"></i>
                    <span>Swagger</span>
                </NavLink>
            </li>
        </ul>
    </nav>
</div>

    