@using SentinelAML.Application.DTOs
<div class="row g-3 mb-4">
    @foreach (var card in Cards) {
    <div class="col-md-@CssColNumber">
        <CardBig Card=@card />
    </div>
    }
</div>

@code {
    [Parameter]
    public required List<CardDto> Cards { get; set; }

    [Parameter]
    public required string CssColNumber { get; set; }
}